/**
 * Label Editor Table Header Styles
 * Based on Figma design: node-id=8827-43088
 */

.label-editor-table-header {
  display: table;
  table-layout: fixed;
  width: max-content;
  min-width: 100%;
  height: 32px;
  background-color: var(--table-header-bg);
  border-bottom: 1px solid var(--table-header-border);
  border-collapse: collapse;
}

.label-editor-table-header__row {
  display: table-row;
}

.label-editor-table-header__cell {
  display: table-cell;
  vertical-align: middle;
  padding: 8px;
  border-right: 1px solid var(--table-header-border);
  box-sizing: border-box;
}

.label-editor-table-header__cell-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label-editor-table-header__cell:last-child {
  border-right: none;
}

.label-editor-table-header__label {
  font-size: 12px;
  font-weight: 400;
  color: var(--table-header-text);
  line-height: 16px;
  white-space: nowrap;
}
