/**
 * CloudProjectIndicator Styles
 * - 24px circular blue badge
 * - Drop shadow (Elevation_03 from Figma)
 * - White cloud icon centered
 */

.cloud-project-indicator {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background-color: var(--blue-600, #66A3FF);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px 0px rgba(20, 21, 26, 0.3);
  overflow: hidden;
  position: relative;
}

.cloud-project-indicator__icon {
  font-family: 'MusescoreIcon', sans-serif;
  font-size: 16px;
  line-height: 0;
  color: var(--foreground-icon-inverse, #F4F5F9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
