/**
 * @audacity-ui/components - Component Styles
 */

/* Font */
@import './assets/fonts/musescore-icon.css';

/* UI Components */
@import './Button/Button.css';
@import './GhostButton/GhostButton.css';
@import './Icon/Icon.css';
@import './PanKnob/PanKnob.css';
@import './Slider/Slider.css';
@import './ToggleButton/ToggleButton.css';
@import './ToggleToolButton/ToggleToolButton.css';
@import './ToolButton/ToolButton.css';
@import './TransportButton/TransportButton.css';
@import './ContextMenu/ContextMenu.css';
@import './ContextMenuItem/ContextMenuItem.css';
@import './ProgressBar/ProgressBar.css';
@import './Checkbox/Checkbox.css';
@import './LabeledCheckbox/LabeledCheckbox.css';

/* Audio Components */
@import './Clip/Clip.css';
@import './EnvelopePoint/EnvelopePoint.css';
@import './EnvelopeCurve/EnvelopeCurve.css';
@import './Track/Track.css';

/* Layout Components */
@import './ResizablePanel/ResizablePanel.css';
@import './SidePanel/SidePanel.css';
@import './TimelineRuler/TimelineRuler.css';
@import './TimeSelectionCanvasOverlay/TimeSelectionCanvasOverlay.css';
@import './SpectralSelectionOverlay/SpectralSelectionOverlay.css';
@import './PlayheadCursor/PlayheadCursor.css';
@import './Toolbar/Toolbar.css';
@import './TrackControlPanel/TrackControlPanel.css';
@import './TrackControlSidePanel/TrackControlSidePanel.css';
