/* MusescoreIcon Font */
/* @font-face {
  font-family: 'MusescoreIcon';
  src: url('./MusescoreIcon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

.musescore-icon {
  font-family: 'MusescoreIcon', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
